<div class="flex h-[50px] items-center bg-blue-500 px-5">
  <div class="pr-5 text-[20px] font-bold text-white">HRCORE-UI</div>

  <div class="flex flex-grow items-center justify-between text-white">
    <ul class="m-0 flex list-none gap-3 p-0">
      @for (item of items; track item.name) {
        <li
          class="cursor-pointer hover:font-light"
          [routerLink]="item.path"
          [routerLinkActive]="'navigation-item-active'">
          {{ item.name }}
        </li>
      }
    </ul>

    <div class="flex gap-2">
      <p-button
        severity="secondary"
        *ngIf="isAuth"
        (onClick)="calculateAllSalaries()"
        >Calculate all salaries</p-button
      >

      <p-button severity="secondary" *ngIf="!isAuth" (onClick)="showLogin()"
        >Login</p-button
      >
      <p-button severity="secondary" *ngIf="isAuth" (onClick)="logout()"
        >Logout</p-button
      >
    </div>
  </div>
</div>

<p-dialog
  header="Login with your account"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '25rem' }"
  [closeOnEscape]="true"
  [draggable]="false">
  <form class="grid gap-5" [formGroup]="loginForm">
    <div class="grid gap-1">
      <label class="block w-full text-[13px]" for="email">Email</label>
      <input
        pInputText
        required
        type="email"
        [formControlName]="'email'"
        class="{{
          loginForm.controls['email'].errors ? 'ng-invalid ng-dirty' : ''
        }}" />
    </div>
    <div class="grid gap-1">
      <label class="block w-full text-[13px]" for="username">Password</label>
      <input
        required
        pInputText
        id="password"
        type="password"
        [formControlName]="'password'"
        class="{{
          loginForm.controls['password'].errors ? 'ng-invalid ng-dirty' : ''
        }}" />
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
    <p-button label="Login" (onClick)="login()" [disabled]="this.loginForm.invalid"/>
  </ng-template>
</p-dialog>
