<div class="rounded-lg bg-gray-200 p-3">
  <div class="flex justify-between">
    <span class="flex items-center text-[14px] font-semibold">
      {{ department?.name ?? 'Add new department' }}
    </span>

    <div *ngIf="department" class="grid grid-flow-col gap-2">
      <p-button
        size="small"
        icon="pi pi-pencil"
        [rounded]="true"
        severity="primary"
        (onClick)="edit()" />

      <p-button
        size="small"
        icon="pi pi-times"
        [rounded]="true"
        severity="primary"
        (onClick)="delete()" />
    </div>

    <div *ngIf="!department" class="grid grid-flow-col gap-2">
      <p-button
        size="small"
        icon="pi pi-plus"
        [rounded]="true"
        severity="primary"
        (onClick)="add()" />
    </div>
  </div>
</div>
